@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    background-color: green;
    font-family: 'Source Sans Pro', sans-serif;
    /* background-image: url("greenboard.png"); */
    background-size: cover;
}
h1{
    color: gold;
}
p{
    color: aliceblue;
}

#msg{
    font-weight: light;
}

button{
    /* color: whitesmoke; */
    background: gold;
    width: 5wh;
    height: 3vh;
    font-weight: bold;
    border-radius: 2px;
    border : 1 px solid red;
    display: flex;
    flex-direction: column;
    


}