@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Source+Sans+Pro&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;

}

/* #master-container{
    
} */

#calculator-container{
    height: 100vh;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
    
}

#frame{
    /* background-color: grey; */
    border: 5px solid green;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#display{
    padding: 5px;
    border: 3px solid blue;
    border-radius: 5px;
    text-align:end;

}

/* span-css */

/* #display-section{
} */


button{
    /* background-color:azure; */
    margin: 1vw;
    padding: 1vw;

    width: 4vw;
    height: 3vw;

    text-align: center;

    cursor: pointer;
    border-radius: 4px;

    border: 1px solid #cfcfcf;
}

button:hover{
    background-color: #c8c4c4;
}


.buttons-container{
    border: 3px solid yellow;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
