@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Source+Sans+Pro&display=swap');

*{
    margin: 0vh;
    padding: 0wh;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;

}

#calculator-container{
    height: 100vh;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
    
}

#frame{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#display{
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    text-align:end;
    margin: 1vw;
    height: 5vh;
}
button{
    margin: 1vh;
    padding: 1vw;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #cfcfcf;
    
}
button:hover{
    background-color: #c8c4c4;
}


.buttons-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
}
