@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; 
    }
  }

*{
    width: 100 wh;
    height: 100 vh;
}



#hero-container{
    border: 1px solid red;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}


#login{
    background-color: green;
    color: beige;
}

.title-text{
    font-weight: bold;
    
}
