@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; 
    }
  }

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}



#hero-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid grey;
    
}


#login{
    background-color: green;
    color: beige;
}

.title-text{
    font-weight: bold;
    
}

#showPassword-section{
    padding-top: 10px;
    padding-bottom: 10px;
}
